@tailwind base;
@tailwind components;
@tailwind utilities;


.responsive-div {
  width: 30%; 
  padding: 2rem;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  z-index: 100;
  position: relative;
  border-radius: 7px;
  /*box shadow add*/
}
@media (max-width: 750px) {
  .responsive-div {
    width: 90%; 
    margin: auto;
  }
}